---
http_interactions:
- request:
    method: get
    uri: http://api.keen.io/3.0/projects/50e8d5f43843316b28000001/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b82b029917fa49af84a5827a43e537a7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - ! '"9ea36ba679175b5949aca20923f1880f41c72528"'
    body:
      encoding: US-ASCII
      string: ! "[\n  {\n    \"name\": \"votes\", \n    \"properties\": {\n      \"character\":
        \"string\", \n      \"keen.created_at\": \"datetime\", \n      \"keen.timestamp\":
        \"datetime\"\n    }, \n    \"url\": \"/3.0/projects/50e8d5f43843316b28000001/events/votes\"\n
        \ }\n]"
  recorded_at: Thu, 07 Feb 2013 18:07:17 GMT
recorded_with: VCR 2.4.0
