---
http_interactions:
- request:
    method: get
    uri: http://api.keen.io/3.0/projects/50e8d5f43843316b28000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b82b029917fa49af84a5827a43e537a7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - ! '"0b93639278b4fbbc87a2ca117e3f58cf638385eb"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"api_key\": \"b82b029917fa49af84a5827a43e537a7\", \n  \"events\":
        [\n    {\n      \"name\": \"votes\", \n      \"url\": \"/3.0/projects/50e8d5f43843316b28000001/votes\"\n
        \   }\n  ], \n  \"events_url\": \"/3.0/projects/50e8d5f43843316b28000001/events\",
        \n  \"id\": \"50e8d5f43843316b28000001\", \n  \"name\": \"RubyExampleApp\",
        \n  \"organization_id\": \"505e1a90897a2c2fbf000000\", \n  \"partners_url\":
        \"/3.0/projects/50e8d5f43843316b28000001/partners\", \n  \"queries_url\":
        \"/3.0/projects/50e8d5f43843316b28000001/queries\", \n  \"saved_queries\":
        [], \n  \"saved_queries_url\": \"/3.0/projects/50e8d5f43843316b28000001/saved_queries\",
        \n  \"settings\": {\n    \"analysis_limit\": 100, \n    \"event_limit\": 10000\n
        \ }, \n  \"url\": \"/3.0/projects/50e8d5f43843316b28000001\"\n}"
  recorded_at: Thu, 07 Feb 2013 18:16:37 GMT
recorded_with: VCR 2.4.0
