---
http_interactions:
- request:
    method: get
    uri: http://api.keen.io/3.0/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b82b029917fa49af84a5827a43e537a7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - ! '"a8a0a1a620dc6345a3c77036f100da54dd5eb7e3"'
    body:
      encoding: US-ASCII
      string: ! "[\n  {\n    \"api_key\": \"b82b029917fa49af84a5827a43e537a7\", \n
        \   \"events\": [\n      {\n        \"name\": \"votes\", \n        \"url\":
        \"/3.0/projects/50e8d5f43843316b28000001/votes\"\n      }\n    ], \n    \"events_url\":
        \"/3.0/projects/50e8d5f43843316b28000001/events\", \n    \"id\": \"50e8d5f43843316b28000001\",
        \n    \"name\": \"RubyExampleApp\", \n    \"organization_id\": \"505e1a90897a2c2fbf000000\",
        \n    \"partners_url\": \"/3.0/projects/50e8d5f43843316b28000001/partners\",
        \n    \"queries_url\": \"/3.0/projects/50e8d5f43843316b28000001/queries\",
        \n    \"saved_queries\": [], \n    \"saved_queries_url\": \"/3.0/projects/50e8d5f43843316b28000001/saved_queries\",
        \n    \"settings\": {\n      \"analysis_limit\": 100, \n      \"event_limit\":
        10000\n    }, \n    \"url\": \"/3.0/projects/50e8d5f43843316b28000001\"\n
        \ }\n]"
  recorded_at: Thu, 07 Feb 2013 18:04:31 GMT
recorded_with: VCR 2.4.0
